services:
  odpc:
    environment:
      - POSTGRES_HOST=postgres-db
      - POSTGRES_DB=ODPC
      - POSTGRES_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=localdev
      - ASPNETCORE_FORWARDEDHEADERS_ENABLED=true
      - OIDC_ADMIN_ROLE=odpc-admin
    image: ${DOCKER_REGISTRY-}odpc
    build:
      context: .
      dockerfile: ODPC.Server/Dockerfile
    ports:
      - "62230:8080"
    depends_on:
      - postgres-db
  postgres-db:
    image: postgis/postgis:${PG_VERSION:-16-master}
    volumes:
      - postgres-db:/var/lib/postgresql/data
      - ./docker/odrc/db/init-db.sql:/docker-entrypoint-initdb.d/init_db.sql
      - ./docker/open-zaak/db/0001-init-open-zaak-db.sql:/docker-entrypoint-initdb.d/0001-init-open-zaak-db.sql
      - ./docker/open-zaak/db/0002-extensions.sh:/docker-entrypoint-initdb.d/0002-extensions.sh
    environment:
      - POSTGRES_PASSWORD=localdev
    restart: always
    ports:
      - "5432"

volumes:
  postgres-db:
